@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  /*  background: white;*/
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.4s;
  height: 100%;
}

.page_container {
  /*  display: inline;*/
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,
  rgba(220, 225, 250, 0.6),
  rgba(255, 255, 255, 0.9)),
  url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
  background-size: cover;
  background-position: center;
  /*  background-blend-mode: hard-light;*/
}


.movie_card {
  border-top: 2px dotted #e3e3e3;
  position: relative;
  display: block;
  width: 100%;
  height: 960px;
  margin: 60px auto;
  overflow: hidden;
  transition: all 0.4s;
  /*  background: linear-gradient(to left, #e5e6e6 0%, transparent 50%);*/
  /*  background-blend-mode: multiply;*/
}

/*
//.poster:hover {
//  transform: scale(1.02);
//  box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
//  transition: all 0.4s;
//  height: 180px;
//}
*/

.info_section {
  /*  display: inline-block;*/
  position: relative;
  width: 90%;
  margin: 30px auto;
  height: 90%;
  z-index: 2;
  border-radius: 10px;
  /*  border: 5px dotted green;*/
}

.poster {
  display: inline-block;
  /*  position: relative;*/
  float: left;
  margin-right: 20px;
  height: 420px;
  transition: all 0.4s;
  border-radius: 5px;
  box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.9);
}

.movie_header h1 {
  display: inline-block;
  color: black;
  font-weight: 400;
  font-size: 48px;
}

.movie_header h4 {
  color: #555;
  font-weight: 400;
}

.movie_header {
  display: inline-block;
  width: 60%;
  float: left;
  padding: 20px;
  height: 50%;
  /*  border: 2px solid red;*/
  overflow: hidden;

}

.movie_header .minutes {
  display: inline-block;
  margin-top: 15px;
  color: #555;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.movie_header .genre {
  display: inline-block;
  margin-top: 15px;
  color: #959595;
  margin-left: 10px;
}

.movie_details {
  /*  border: 2px solid blue;*/
  display: inline-block;
  /*  top: -30%;*/
  /*  position: relative;*/
  /*  float: right;*/
  padding: 0;
/*  height: 50%;*/
  width: 100%;
}

.movie_details h1 {
  font-weight: 400;
}

.text {
  color: #545454;
  width: 100%;
  margin-top: 15px;
  line-height: 1.6rem;
  text-overflow: ellipsis;
  word-break: normal;
}

.blur_back {
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-position: 0 0 !important;
  /*  background-size: 100% auto;*/
  /*    border-radius: 11px;*/
}

/*
.bright_back {
  background-size: 200% 200%;
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}
*/

.test {
  font-size: 36px;
  height: 160px;
  display: inline-block;
  border: 2px dotted #e3e3;
}

.small_header {
  display: inline-block;
  word-spacing: 5%;
  margin-right: 5px;
}

a .short_link {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weigh: 300;
  color: blue;
}

a:hover {
  cursor: pointer;
}

.detail_row {
  margin: 10px 0px;
}

.recommended {
  position: relative;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  overflow-y: scroll;
  width: 100%;
  padding: 10px 0px;
}

.recommended .movie_mini_card {
  border-radius: 5px;
  background-color: #ffffff;
  width: 342px;
  /*  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);*/
  transition: all 0.3s ease;
  flex: 0 0 auto;
  margin-top: 5px;
  margin-left: 2%;
  color: #323538;
  box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.5);
}

.movie_mini_card:hover {
  transform: scale(1.05);
  box-shadow: 0px 1px 10px 2px rgba(255, 255, 255, 0.5);
  transition: all 0.4s;
}

.recommended .movie_mini_card img {
  max-width: 100%;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 5px;
}

.recommended .movie_mini_card .title {
  line-height: 2.6rem;
  margin-left: 5px;
  font-size: 1.2rem;
}

.details_col {
  display: inline-block;
  margin-right: 25px;
}

h5 .easy_header {
  font-weight: 300;
}
