@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
}

.spinner, .loader {
  display: block;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  text-align: center;
}
a:hover {
    text-decoration: none !important;
}